// FONTS

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

$fontHeadline: 'Noto Serif', serif;

// COLORS

$color_primary: #07325f;
$color_secondary: #c8976c;
$color_light: #dddddd;
