@import 'variables';
@import 'mixin';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
 Spinner
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  // margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: $color_secondary;
  animation: spinner 0.6s linear infinite;
}

.alert__msg {
  margin: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  .nav__cont {
    padding: 0.8rem 1.5rem;
    position: relative;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 2rem;

      li {
        list-style-type: none;
        display: block;

        .nav__link {
          text-decoration: none;
          @include font_navbar;
          transition: all ease-in 0.3s;

          &:hover {
            color: $color_secondary;
            border-bottom: $color_secondary 1px solid;
            transition: all ease-in 0.3s;
          }
        }
      }
    }
  }
  .header__cont {
    height: 100%;

    .header__bck {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 300px;

      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../assets/img/background.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    }

    .header__headline {
      font-family: $fontHeadline;
      font-size: 23vw;
      color: #fff;
      text-align: center;
      font-weight: 200;
      opacity: 0.1;
      transform: translateY(-10%);
      text-shadow: $color_secondary;
      display: block;
    }

    .header__image--drink {
      position: absolute;
      width: 45%;
      max-width: 200px;
      bottom: -5%;
    }
  }

  .section__input {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .section_i__headline {
      @include font_headline;
    }

    .section_i__input {
      border: $color_light solid 1px;
      width: 300px;
      height: 2rem;
      border-radius: 5px;
      padding-left: 1rem;

      &:focus {
        outline: $color_primary solid 1px;
        transition: all 0.3s ease-in;
      }
    }
  }

  .section__list {
    width: 100%;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;

    .article__item {
      width: 90%;
      height: 100%;
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 15px;
      border: solid $color_light 1px;
      background-color: #eeeded;

      &:hover {
        box-shadow: 3px 5px 3px $color_light;
      }

      .item__img {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 70%;
          border-radius: 50%;
        }
      }

      .item__text {
        width: 100%;
        text-align: center;

        h3 {
          @include font_item_headline;
        }

        p {
          font-family: Arial, Helvetica, sans-serif;
          margin-top: 0.5rem;
        }

        .item__text--alc {
          font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
          margin-top: 1.2rem;
          color: $color_secondary;
        }

        .item__btn {
          margin-top: 1.2rem;
          display: inline-block;
          padding: 0.6rem 1.8rem;
          background: $color_secondary;
          border: none;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          letter-spacing: 0.1rem;
          text-decoration: none;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;

          &:hover {
            background-color: $color_primary;
          }
        }
      }
    }
  }

  .section__about {
    padding: 2rem 1.5rem;

    p {
      @include font_primary;
    }

    .single__btn {
      width: fit-content;
      margin: 2rem auto;
      display: block;
      padding: 0.65rem 1.8rem;
      background: $color_secondary;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        background-color: $color_primary;
      }
    }
  }

  .section__single {
    width: 100%;
    padding: 2rem 1.5rem;

    .single__btn {
      width: fit-content;
      margin: 1.5rem auto;
      display: block;
      padding: 0.65rem 1.8rem;
      background: $color_secondary;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      letter-spacing: 0.1rem;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        background-color: $color_primary;
      }
    }

    h2 {
      @include font_item_headline;
      color: $color_primary;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    img {
      width: 100%;
      margin-bottom: 1rem;
    }

    .single__text--box {
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        line-height: 1.5rem;

        .single__text--data {
          @include font_primary;
          font-weight: 600;
          color: $color_secondary;
        }
      }
    }
  }
}

@media only screen and (min-width: 763px) {
  #root {
    .nav__cont {
      ul {
        gap: 3rem;
        padding: 0.8rem 2rem;
      }
    }
    .header__cont {
      .header__bck {
        min-height: 500px;
        background-size: cover;
      }

      .header__image--drink {
        width: 35%;
        max-width: 300px;
        bottom: -5%;
      }
    }

    .section__input {
      .section_i__headline {
        @include font_headline;
        font-size: 4.5vw;
      }

      .section_i__input {
        border: $color_light solid 1px;
        width: 350px;
        height: 2.5rem;
      }
    }

    .section__list {
      padding: 2rem 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .article__item {
        width: 100%;
      }
    }

    .section__about {
      padding: 4rem 2rem;
    }

    .section__single {
      padding: 2rem 4.5rem;

      .single__btn {
        margin: 2rem auto;
      }

      h2 {
        font-size: 3rem;

        margin-bottom: 3.5rem;
      }

      img {
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #root {
    .nav__cont {
      width: 100%;
      position: relative;
      z-index: 99;

      ul {
        padding: 0.8rem 3rem;
        gap: 4rem;

        li {
          .nav__link {
            @include font_navbar;
            font-size: 1.2rem;
          }
        }
      }
    }

    .header__cont {
      height: 100%;

      .header__bck {
        position: relative;
        background-size: cover;
        background-position: bottom;
      }

      .header__image--drink {
        max-width: 360px;
      }
    }

    .section__input {
      .section_i__headline {
        font-size: 3.3vw;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
      }
    }

    .section__list {
      padding: 2rem 4rem;
    }

    .section__about {
      padding: 2rem 4rem;

      p {
        width: 70%;
        margin: 2.5rem auto;
      }
    }

    .section__single {
      padding: 2.5rem 4rem;
      width: 100%;

      h2 {
        @include font_item_headline;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        margin-top: 3.5rem;
      }

      .single__cont--items {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 6rem;
        align-items: center;
        justify-content: center;

        img {
          width: 300px;
          margin-bottom: 1rem;
          flex: 0.6;
        }

        .single__text--box {
          flex: 1;
        }
      }
    }
  }
}
